@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap");

body {
  z-index: 0;
  align-content: center;
  background-color: #11999e;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}

.todo {
  text-align: center;
}
.todo h1 {
  font-size: 50px;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 100;
  color: #30e3ca;
}

.form {
  z-index: 1;
  margin-top: 2rem;
  width: 20%;
  height: 10vh;
  position: absolute;
  left: 40%;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #11999e;
}
input {
  font-size: 90px;
  height: 8vh;
  width: 100%;
  font-family: "Indie Flower", sans-serif;
}
button {
  height: 8.4vh;
  font-size: 18px;
  background: none;
  border: white 2px solid;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 1rem 0 1rem;
}
button:hover {
  background-color: white;
  color: #11999e;
  transition: all 0.6s ease;
}

input {
  border-radius: 5px;
  font-size: 24px;
  border:none
}

input::placeholder {
  font-size: 24px;
  color: #11999e;
  padding-left: 10px;
}

ul {
  z-index: 1;
  position: absolute;
  left: 33%;
  top: 40%;
  list-style: none;
}
li {
  font-family: "Indie Flower", sans-serif;
  font-size: 30px;
  background-color: #30e3ca;
  width: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 60px;
  padding-left: 20px;
}

.todo-item {
  display: flex;
}
.todo-item li {
  flex: 1;
}
.complete-btn,
.trash-btn,
.edit-btn,
.cross-btn {
  color: white;
  border: none;
  padding: 1rem 1rem 4px 1rem;
  cursor: pointer;
  height: 40px;
  font-size: 1.8rem;
}
.complete-btn {
  background: rgb(12, 200, 100);
}
.trash-btn {
  background: rgb(245, 156, 3);
}
.edit-btn {
  background: rgb(3, 137, 247);
}
.cross-btn {
  background: rgb(214, 60, 4);
}

.delete {
  transform: translateY(100%) rotateZ(20deg);
  opacity: 0;
  transition: all 1.5s ease-out;
}

.edit-modal{
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 97%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  padding: 20px;
}
.edit-modal input{
  background-color: #11999e;
  color: white;
  margin-top: 10%;
  border-radius: 5px;
  border: none;
  height: 25vh;
}
.edit-modal input::placeholder{
  color: white;
}
.edit-modal button{
  background-color:#11999e;
  margin-top: 50px;
  width: 100%;
}
.edit-modal button:hover{
  color:#11999e;
  background-color: #fff;
  border: #11999e 2px solid;

}
